In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('alunos.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97728 entries, 0 to 97727
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nome        97728 non-null  object
 1   matricula   97728 non-null  object
 2   curso.nome  97728 non-null  object
 3   situacao    97728 non-null  object
 4   cota        35409 non-null  object
dtypes: object(5)
memory usage: 3.7+ MB

In [10]:
df.nome

0                          Aline de Almeida Campos
1                 Ana Carolina Vasconcelos Barreto
2                    ANDERSON GERÔNCIO SOUZA SILVA
3                        Andrieli Alves dos Santos
4                  Anna Luisa Marques Duarte Catão
                           ...
97723                          José Calixto Júnior
97724                         Elizama Rosa de Lima
97725                   Jose Maurilio Davi Bezerra
97726             João Vitor do Nascimento Marinho
97727    Cristina Elizabeth Braz Dantas dos Santos
Name: nome, Length: 97728, dtype: object

In [11]:
len(df.nome)

97728